:root {
    --primary: hsla(194, 100%, 50%, 0.65);
    --secondary: hsla(197, 60%, 33%, 0);
}

.space-LOL {
    padding-top: 50px;
}

.container {
    background: linear-gradient(135deg, var(--primary), var(--secondary)),
        url(/images/front.jpg) no-repeat center center / cover;
    width: 70%;
    height: 50%;
    background-color: #a6a6a6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: calc(60px + 20px);
    border-radius: 20px;
    margin: 25px auto;
    z-index: 1;
}

.container .intro-text {
    color: white;
    width: 100%;
    height: auto;
}

.container .introduction {
    color: white;
    width: 100%;
    height: 50%;
    padding: 0px 0px 0px 25px;
    font-size: 50px;
    text-decoration: none;
}

.container .sub-intro {
    color: white;
    width: 50%;
    height: 50%;
    padding: 0px 0px 25px 25px;
    font-size: 20px;
    text-decoration: none;
}

.container .intro-btn {
    width: 100%;
    height: auto;
    margin-top: calc(100px + 90px);
}

.container .BtnStart {
    margin: 20px 0;
    font-size: 18px;
    color: white;
    padding: 12px 20px;
    background: linear-gradient(to bottom right, #2475b7 0%, #0f273f 100%);
    border: none;
    border-radius: 20px;
    float: right;
    margin-right: calc(40px + 20px);
}

.container .BtnStart:hover {
    color: #81c0dc;
    text-decoration: underline;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    background-color: #125f82;
    color: white;
}

.content .card-container {
    padding: 10px;
}

.content .card-container .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.content .card-container .cards img {
    border-radius: 50%;
    width: 80px;
}

.content .card-container .cards .card {
    width: 80%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #81c0dc;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}

.content .card-container .cards .card h2 {
    font-size: 28px;
}

.content .card-container .cards .card p {
    font-size: 18px;
    text-align: center;
}

.content .card-container .cards .card a {
    margin-top: 10px;
    font-size: 16px;
    border: 2px solid #4a76ee;
    border-radius: 5px;
    padding: 5px 10px;
    color: #125f82;
    background-color: white;
}

.testimony-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.testimony-container h1 {
    background-color: #125f82;
    color: white;
    border-radius: 20px;
    padding: 0px 20px;
}

.testimony-container .testimony {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 0px;
    align-items: center;
    text-align: left;
}

.testimony-container .testimony h2 {
    text-decoration: underline;
    text-decoration-color: #81c0dc;
}

.testimony-container .testimony .text {
    padding: 20px;
}

@media (max-width: 768px) { /* screen size */
    .container {
        margin-top: calc(50px + 40px);
    }
    .container .introduction {
        font-size: 30px;
    }

    .container .sub-intro {
        font-size: 16px;
        width: 90%;
    }

    .content .card-container .cards .card {
        width: 90%;
    }

    .content .card-container .cards .card h2 {
        font-size: 24px;
    }

    .content .card-container .cards .card p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .container .introduction {
        font-size: 24px;
    }

    .container .sub-intro {
        font-size: 14px;
    }

    .content .card-container .cards .card h2 {
        font-size: 20px;
    }

    .content .card-container .cards .card p {
        font-size: 14px;
    }

    .testimony-container h1 {
        font-size: 24px;
    }
}
