/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 2%;
}

.h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.testimony {
    position: relative;
    width: 30%;
    overflow: hidden;
    margin: auto;
}

.testimony-container {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
}

.text {
    min-width: 80%;
    padding: 5%;
    background-color: #125f82;
    border: 1px solid #ccc;
    box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 1.5;
    color: #fff;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 3%;
    cursor: pointer;
}

.carousel-button.prev {
    left: 1%;
}

.carousel-button.next {
    right: 1%;
}  */
   
.testimony-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.testimony-container h1 {
    background-color: #125f82;
    color: white;
    border-radius: 20px;
    padding: 0px 20px;
}

.testimony-container .testimony {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 0px;
    align-items: center;
    text-align: left;
}

.testimony-container .testimony h2 {
    text-decoration: underline;
    text-decoration-color: #81c0dc;
}

.testimony-container .testimony .text {
    padding: 20px;
}
